# Secrets & Environment variables
.env
.env.local

# Databases
*.db
*.sqlite
*.sqlite3

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/

# Logs & OS artifacts
*.log
.DS_Store
Thumbs.db
